@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
body {
  margin: 0;
  font-family: "Lobster", cursive;
  background-color: whitesmoke;
}

#app {
  margin: 0 auto;
}
/* container */
.container {
  margin: 0 auto;
  max-width: 1519px;
  justify-content: center;
}

/* profile-table */

.profile-table {
  margin: 0 auto;
  width: 960px;
  min-height: 100vh;
  background-color: antiquewhite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
.no-border {
  background-color: antiquewhite;
  border: none;
}
.table-p {
  padding-top: 50px;
  margin: 0 auto;
  width: 80%;
  
}
.table-p input {
  font-size: 20px;
}
.table-p button {
  font-size: 20px;
}
