@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
body {
  margin: 0;
  font-family: "Lobster", cursive;
  background-color: whitesmoke;
}

#app {
  margin: 0 auto;
}
/* container */
.container {
  margin: 0 auto;
  max-width: 1519px;
  justify-content: center;
}

/* orders-table */

.orders-table {
  margin: 0 auto;
  width: 960px;
  min-height: 100vh;
  background-color: antiquewhite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}


.tb-order {
  background-color: whitesmoke;
  border-collapse: separate;
  margin: 0 auto;
  border: 1px solid black;
  min-height: 80vh;
  
}

.container-orders {
  max-height: 80vh;
  max-width: fit-content;
  overflow: auto;
  margin: 0 auto
}

.th-order {
  font-size: 22px;
  text-align: center;
  padding: 10px 35px;
  vertical-align: middle;
  border: 1px solid black;
}

.td-order {
  font-size: 20px;
  background-color: antiquewhite;
  border: 1px solid black;
  padding: 8px 15px;

  text-align: center;
  vertical-align: middle;
}
.order{
  cursor: pointer;
}

.container-orders::-webkit-scrollbar {
    width: 14px;
    height: 6px;
}

.container-orders::-webkit-scrollbar-thumb {
    background: #f3c693;
    border-radius: 0.819847px;
}

